<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="index">
        <h1>Welcome to Indian Cyber Security Solutions</h1>
    
         <!-- Main Input For Receiving Query to our ML -->
        <form action="/" method="post">
            <h3>what is the Name Of Our Country?</h3>
            <p>a) India</p>
            <p>b) Africa</p>
            <p>c) America</p>
            <p>d) Bangladest</p>
            <p><input type="text" name = "ans_1"></p>
            <h3>what is the Name Of Our State?</h3>
            <p>a) Assam</p>
            <p>b) West Bengal</p>
            <p>c) Karnataka</p>
            <p>d) West Bengal</p>
            <p><input type="text" name = "ans_2"></p>
            <h3>what is the Most Popular Programming Language?</h3>
            <p>a) Python</p>
            <p>b) R</p>
            <p>c) Java</p>
            <p>d) c</p>
            <p><input type="text" name = "ans_3"></p>
            <h3>what is Software is good for Data Visualization?</h3>
            <p>a) Tableau</p>
            <p>b) PowerBI</p>
            <p>c) Seaborn</p>
            <p>d) Matplotlib</p>
            <p><input type="text" name = "ans_4"></p>
             <h3>Enter Submit Button:</h3>
            <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
        </form>
    
       <br>
       <br>
       <h1>{{ out }}</h1>
    
     </div>
</body>
</html>